@media (max-width: 991px) and (min-width: 768px){
    .bookmark-container-fluid-content {
        padding-left: 240px !important;
        padding-right: 30px !important;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    #bookmark-empty {
        padding-left: 240px !important;
        padding-right: 30px !important;
    }
}