
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}
.bookmark-page-header {
    background-color: #fff;
    height: 59px;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0 0;
}
.bookmark-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.bookmark-container-fluid-content {
    max-width: 1170px;
}
.bookmark-page-header-desktop {
    position: static;
}
.bookmark-page-header-normal-row {
    margin-left: 5px;

}
.bookmark-header-action-bar {
    border-color: red;
    -webkit-transition: border 200ms cubic-bezier(.39,.575,.565,1);
    -moz-transition: border 200ms cubic-bezier(.39,.575,.565,1);
    transition: border 200ms cubic-bezier(.39,.575,.565,1);
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
.bookmark-search-box{
    float:left;
    position:relative;
    top:3px;
    min-width:250px;
    padding-bottom:12px;
    border:none;
}
.bookmark-search-box:after,.bookmark-search-box:before{
    content:" ";
    display:table;
}
.bookmark-search-box:after{
    clear:both;
}
.bookmark-search-available{
    height:26px;
    overflow:hidden;
    display:none;
}
.bookmark-search-available:after,.bookmark-search-available:before{
    content:" ";
    display:table;
}
.bookmark-search-available:after{
    clear:both;
}
.bookmark-search-available.mode-active{
    display:block;
}
.search_available .ipicon {
    float: left;
    position: relative;
    top: 2px;
}
.ipicon {
    -webkit-transition: opacity 400ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity 400ms cubic-bezier(.25,.46,.45,.94);
    transition: opacity 400ms cubic-bezier(.25,.46,.45,.94);
    background-image: url(../images/ipicons.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.ipicon-search, .stormmode .popover .ipicon-search {
    width: 25px;
    height: 25px;
    background-position: -869px 0;
}
.bookmark-top-menus {
    float: right;
    text-align: right;
    opacity: 1;
    font-size: 13px;
    font-size: .8125rem;
    line-height: 36px;
    line-height: 2.25rem;
    -webkit-transition: opacity 200ms cubic-bezier(.39,.575,.565,1);
    -moz-transition: opacity 200ms cubic-bezier(.39,.575,.565,1);
    transition: opacity 200ms cubic-bezier(.39,.575,.565,1);
}
.bookmark-side-column {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid transparent;
    z-index: 1;
}
.bookmark-logo {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background-image: url(../img/logo-bookmark.png);
    width: 125px;
    height: 27px;
    margin-top: 15px;
}
.margin-left-10 {
    margin-left: 50px !important;
}
aside {
    display: block;
}
.bookmark-side-nav {
    color: #000;
    margin-top: 2rem;
    font-size: 18px;
    font-size: 1.125rem;
    height: 595px;
    overflow-y: hidden;
}
.touch_device_scroll_y{
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -o-text-size-adjust:none;
    text-size-adjust:none;
    overflow:hidden
}
.bookmark-scroller-y {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
    margin-bottom: 60px;
    margin-top: 10px;
}
.bookmark-side-item {
    display: block;
    position: relative;
    padding: 10px 0 05px 30px;
    margin-right: 5px;
    border-radius: 3px;
    width: 220px;
    font-size: 15px !important;
    font-size: .9375rem;
    line-height: 28px;
    line-height: 1.75rem;
    -webkit-transition: opacity 1.35s cubic-bezier(.075,.82,.165,1);
    -moz-transition: opacity 1.35s cubic-bezier(.075,.82,.165,1);
    transition: opacity 1.35s cubic-bezier(.075,.82,.165,1);
    color: black !important;
    font-weight: 400;
}
.bookmark-side-nav a:hover {
    text-decoration: none;
    color: #0074b7 !important;
}
.active {
    color: #0074b7 !important;
}
.droptarget {
    opacity: 1;
}
.bookmark-home {
    width: 25px;
    height: 25px;
    font-size: 20px;
}
.fa {

    font-weight: 300;
}
.bookmark-side-footer {
    box-shadow: 0 -10px 20px #fff;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 160px;
    height: 35px;
    line-height: 35px;
    box-shadow: 0 -10px 20px #fff;
    background-color: #fff;
    padding-left: 25px;
    font-size: 13px;
    font-size: .8125rem;
    -webkit-transition: box-shadow 500ms ease;
    -moz-transition: box-shadow 500ms ease;
    transition: box-shadow 500ms ease;
    z-index: 190;
}
.bookmark-side-footer:before  {
    box-sizing: border-box;
}
.bookmark-side-footer > a {
    float: left;
    padding: 0 5px;
    color: #000;
    font-size: 13px !important;
    margin:0 0 0 20px;
}
.bookmark-side-footer > a:hover {
    float: left;
    padding: 0 5px;
    color: blue;
    text-decoration: none;
    font-size: 13px !important;

}
.bookmark-side-footer > a:first-child {
    padding-left: 0;
}
.bookmark-main-container {
    position: relative;
    left: 0;
    pointer-events: auto;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
    z-index: 5;
    height: auto
}
.bookmark-main-content {
    font-size: 16px;
    font-size: 1rem;
    position: relative;
    padding-bottom: 60px;
    margin-top: 60px;
    z-index: 6;
}
.bookmark-article-list {
    position: relative;
    min-height: 250px;
}
.articles {
    display: block;
}
.bookmark-article-item {
    position: relative;
    cursor: pointer;
    font-family: LyonText,Georgia,serif;
    max-height: 300px;
    -webkit-user-drag: element;
    -webkit-transition: max-height 500ms cubic-bezier(.39,.575,.565,1),opacity 200ms cubic-bezier(.39,.575,.565,1);
    -moz-transition: max-height 500ms cubic-bezier(.39,.575,.565,1),opacity 200ms cubic-bezier(.39,.575,.565,1);
    transition: max-height 500ms cubic-bezier(.39,.575,.565,1),opacity 200ms cubic-bezier(.39,.575,.565,1)
}
.bookmark-article-selector-indicator {

    position: absolute;
    top: 29px;
    left: -27px;
    color: #0074bf;
    opacity: 0;

}
.bookmark-article-inner-item {
    position: relative;
    top: 0;
    left: 0;
    padding: 22px 0 12px;
    border-bottom: 1px solid #ececec;
    -webkit-transition-property: -webkit-transform,opacity,padding;
    -moz-transition-property: -moz-transform,opacity,padding;
    transition-property: transform,opacity,padding;
    -webkit-transition-duration: 300ms,300ms,300ms;
    -moz-transition-duration: 300ms,300ms,300ms;
    transition-duration: 300ms,300ms,300ms;
    -webkit-transition-delay: 50ms,0,0;
    -moz-transition-delay: 50ms,0,0;
    transition-delay: 50ms,0,0;
    -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1),cubic-bezier(.39,.575,.565,1),cubic-bezier(.39,.575,.565,1);
    -moz-transition-timing-function: cubic-bezier(.39,.575,.565,1),cubic-bezier(.39,.575,.565,1),cubic-bezier(.39,.575,.565,1);
    transition-timing-function: cubic-bezier(.39,.575,.565,1),cubic-bezier(.39,.575,.565,1),cubic-bezier(.39,.575,.565,1);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
    margin-left: 30px;
}
.bookmark-article-empty-item {
    border-bottom: 1px solid #ececec;
    width: 900px;
    margin: 130px 30px 50px 300px;
}
.bookmark-article-meta-text {
    max-width: 100%;
}
.article-title {
    display: block;
    float: left;
    max-width: calc(100% - (50px + 15px));
    font-family: LyonText,Georgia,serif;
    font-weight: 400;
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 30px;
    line-height: 1.875rem;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
}
.article-title a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}
.article-title a:hover {
    color: #0074bf;
    font-size: 20px;
    text-decoration: none;
}
.title-meta {
    font-size: 16px;
    font-size: 1rem;
    font-family: LyonText,Georgia,serif;
    margin-bottom: .1em;
}
.title-meta a
{
    color:  #7a7a7a !important;
    font-size: 16px !important;
    font-family: LyonText,Georgia,serif;
}
.title-meta a:hover {
    color:  #0074bf !important;
    text-decoration: none;
}
.article-preview {
    display: block;
    margin-bottom: 2px;
    font-family: LyonText,Georgia,serif !important;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 16px !important;
    font-size: 1rem;
    line-height: 22px !important;
    max-width: 68% !important;
    max-width: 36.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    padding-top: 5px !important;
    padding-bottom: 05px !important;
    color: #404040 !important;
}
.article-footer {
    position: relative;
    font-family: jaf-bernina-sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
    font-size: .8125rem;
    height: 35px;
    height: 2.1875rem;
    color: #7a7a7a !important;
    padding-top:5px;

}
.footer-icons {
    font-size: 20px;
    padding-right: 15px;
    color: #7a7a7a;
    padding-top:13px;
    margin-left: 02px;
}

.bookmark-article-selector-indicator::before {
    webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    opacity: 0;
    z-index: 1;
}
.bookmark-article-selector-indicator::after {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-transition: opacity 250ms ease 100ms;
    -moz-transition: opacity 250ms ease 100ms;
    transition: opacity 250ms ease 100ms;
    font-size: 12px;
    font-size: .75rem;
    position: absolute;
    top: 1px;
    left: 2px;
    display: block;
    content: attr(data-content);
    font-weight: 600;
    opacity: 0;
    z-index: 2;
}
.bookmark-article-check {

    line-height: 20px !important;

}
.header-icons
{
    padding: 0px 10px 0px 70px;
}
.bookmark-profile-icon {
    float: right;
    margin-right: 30px;
}
.bookmark-delete-icon {
    padding-left: 05px;
    font-size: 14px;
}
.delete-icon {
    font-size: 20px;
}
.toggle-ele {
    color: yellow;
}
.greened {
    color: green !important;
}
.bookmark-pagination {
    margin: 40px 20px 20px 30px;
}
.pagination li a {
    font-size: 20px;
    color: #000;
}
.pagination> .active > a {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.pagination li a:hover {
    background-color: #007bff;
    color: white;
    border-color: #ddd;
    cursor: pointer;
}
.pagination li a:focus  {
    color: #007bff;
}
.pagination li a:active {
    color: white;
    background: #007bff;
}

.vote-up
{
    font-size: 20px;
    color: #1e88e5;
}
#article {
    display: none;
}
.no-bookmark-data {
    text-align: center;
    margin: 50px 20px 50px 20px;
}
.no-bookmark-data h1 {
    font-size: 30px;
}