@font-face
{
    font-family: acherus-light;
    src: url("/resources/fonts/acherus-light.otf");
}
@font-face
{
    font-family: Raleway-Medium;
    src: url("/resources/fonts/Raleway-Medium.ttf");
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #333;
    background: #f8f8f8;
    /*background: repeating-linear-gradient(45deg, cadetblue, cadetblue 49%, #ddd 50.1%, #ddd 100%); */
    /*background: rgba(62, 69, 81, 0.1)*/
}
div {
    display: block;
}
.header {
    width: 100%;
    z-index: 999;
    height: 70px;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    position: relative;
    transition: .33s all ease-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    padding: 25px 0;
    vertical-align: middle;

}
.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
}
.logo-image {
    height: 35px;
    width: 35px;
    margin-top: -06px;

}
.logo-text {
    font-size: 18px;
    font-family: acherus-light;
    font-weight:800;
}
.highlight-header-content {
    width: 90%;
    margin: 0 auto;

}
.highlight-header-container {
    margin: 50px 50px 0px 50px;

}
.media{border:1px solid #d5dbdd; padding:5px 32px; border-radius: 5px; box-shadow:0px 2px 1px rgba(0,0,0,0.04); background:#fff; border-bottom: 2px solid #d5dbdd;}

.media .media-left img{width:75px;padding-bottom:07px;}
.media .media-body a{padding: 0 15px; font-size:14px; color: #6b456a}
.media .media-body a:hover {text-decoration: none; color: #6b456a;}
.media .media-body h4 {color: #6b456a; font-size: 18px; font-weight: 600; margin-bottom: 10px; padding-left: 14px; margin-top:12px;}
.btn-text{padding: 05px; color: white;}
.btn-text:hover {color: white; text-decoration: none}
.btn-text:foucs {color: white; text-decoration: none; outline: none;}
.btn-margin{margin-top: 10px;}
.content-border {
    border-top: 1px solid #ddd;
    width: 110%;
    margin-left: -32px;
    padding: 15px;
    position: relative;
    margin-top: 05px;
}
.highlight-content {
    width: 90%;
    margin: 0 auto;
}
.highlight-container {
    margin: 20px 50px 50px 50px;
}
.highlight-content-box {
    border: 1px solid #d5dbdd;
    box-shadow:0px 2px 1px rgba(0,0,0,0.04);
    border-radius: 5px;

    padding: 30px;
}
.panel {
    position:relative;
    margin-bottom: 40px;
    border-bottom: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
.panel-width-empty {
    width: 95% !important;
    margin: 10px !important;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:25px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#fff;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}
.panel>.panel-body-empty:after,.panel>.panel-body-empty:before {
    position:absolute;
    top:13px;
    left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-body-empty:after {
    border-width:7px;
    border-right-color:#fff;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-body-empty:before {
    border-right-color:#ddd;
    border-width:8px;
}
.highlight-grid-content {
    font-size: 16px;
    font-family: acherus-light;
    line-height: 25px;
}
.highlight-grid-content-empty {
    font-size: 25px;
    font-family: acherus-light;
    line-height: 30px;
}
.panel-body-empty {
    padding: 32px 22px 22px 32px;
    text-align: center;
    font-size: 25px;
    width: 90% !important;
}
.panel-body {
    padding-top: 20px !important;
}
.panel-heading {
    padding: 0 !important;
    margin: 0 !important;
    margin: 0 !important;
    background-color: #fff !important;
    border-top: 1px solid #ddd !important;
}
.icons {
    font-size: 20px;
    padding: 12px 14px 12px 14px;
    cursor: pointer;
    border-right: 1px solid #ddd;
    position: relative;
    display: inline-block;
}
.email-icon {
    font-size: 18px;
    padding: 14px 13px 13px 12px;
    cursor: pointer;
    border-right: 1px solid #ddd;
}
.icon-border {
    border-right: 1px solid #ddd;
    font-size:30px;
    padding: 02px 02px 11px 02px;

}

.publish-button {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 02px 10px 02px 10px;
    background-color: #2196f3 ;
    color: white;
    border-radius: 3px;
    box-shadow:0px 2px 1px rgba(0,0,0,0.04);
    width:200px;

}

.btn-publish {

}
.publish-btn {
    padding-right: 10px;
}
.btn:focus
{
    outline: none;
    background-color: white;
}
.fa-stack1
{
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    font-size: 10px;
    padding-left: 40px;
    margin-top: 02px;
    cursor: pointer;
}
.img-rounded {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 05px;
}
.button {
    padding: 6px 12px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.profile-details {
    float: right;
    padding: 02px 10px 02px 02px;
    cursor: pointer;
}
.profile-name {
    padding: 02px 01px 02px 02px;
    font-size: 12px;
}
.highlight-time-details {
    float: right;
    padding: 30px 30px 0px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgrey;
    margin-bottom: 0px;
}
/*.dropdown-search {
    display: inline-block;
    float: right;
    margin-top: -55px;
    margin-right: -10px;
}*/
.btn-default:focus {
    outline: none !important;

}
.btn-default{background: transparent; color:#000; border-radius:05px; border:1px solid #ccc; font-size:14px; margin-top: 20px; font-family: acherus-light; padding-top: 09px;}
.btn-default:hover{background:#ddd; color:#000; border-radius:05px; border:1px solid darkgrey; font-size:14px; margin-top: 20px; font-family: acherus-light;}
#email{
    display:none;

}
#type{
    display:none;
}
#panel-public
{
   display: none;
}
#email-first
{
    display:none;
}
.icons .icons-text {
    visibility: hidden;
    width: 100px;
    font-weight: bold;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 70%;
    margin-left: -60px;
    font-family: acherus-light;
}
.icons .icons-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.icons:hover .icons-text {
    visibility: visible;
}
.icon1 .icons-text {
    visibility: hidden;
    font-style: normal;
    font-weight: normal !important;
    font-size: 15px;
    font-weight: 200 !important;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    top: 220%;
    left: 70%;
    margin-left: -60px;
    font-family: acherus-light;
}
.icon1 .icons-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.icon1:hover .icons-text {
    visibility: visible;
}
.icons-facebook {
    padding: 12px 17px 13px 17px;
    float: right;
    border-right: none !important;
}
.icons-facebook:hover {
    background-color: #3a589e;
    color: white;
}
.icons-twitter {
    padding: 12px 12px 13px 13px;
    float: right;
    border-left: 1px solid #ddd;
}
.icons-twitter:hover {
    background-color: #009eed;
    color: #f3f3f3;
}
.export-btn {
    margin: -10px 20px 20px 20px;
    float: right;
}
.export-pdf {
    border: 1px solid #d9534f;
    padding: 10px;
    background-color: #bb0000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
}
.export-pdf:hover {
    background-color: #bb0000;
}
.pdf-icon {
    padding: 05px 10px 05px 05px;
    font-size: 18px;

}
.export-word {
    border: 1px solid #1565C0;
    padding: 10px;
    background-color: #1565C0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-right: -15px;

}
.export-word:hover {
    background-color: #1565C0;
}
.word-icon {
    padding: 05px 10px 05px 05px;
    font-size: 18px;
}
.header-profile-image {
    height: 30px;
    width: 30px;
}
.header-profile-name {
    padding-left: 10px;
    color: black;
}
.header-profile-name:hover {
    color: black;
    text-decoration: none;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    min-width: 120px;
}
.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}
.like-voting {
    font-size: 15px;
    font-family: acherus-light;
    padding-left: 02px;

}
.dropdown-select-search {
    width: 200px;
    float: right;
    margin-top: -55px;
}
.dropdown-select-search select {
    box-shadow: none !important;
}
.dropdown-menu-open {
    margin-top: 70px !important;
}
.open > .dropdown-menu {
    margin-top: 30px;
    font-family: acherus-light !important;
}
.form-group {
    margin-bottom: -15px;
    width: 140px;
    margin-right: 180px;
}