
.profile{
    border: 3px solid #B7B7B7;
    padding: 10px;
    margin-top: 10px;
    width: 350px;
    background-color: #F7F7F7;
    height: 160px;
}
.profile p{margin: 0px 0px 10px 0px;}
.head{margin-bottom: 10px;}
.head a{float: right;}
.profile img{width: 100px;float: left;margin: 0px 10px 10px 0px;}
.proDetails{float: left;}

#gSignIn
{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.highlightuser
{
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    font-weight: bold;
}
.latest
{
    font-family: 'Courier New', Courier, monospace;
    color:#609 ;
    font-weight: bold;
    font-size: 14px;
    margin-top: 50px;

}
.latest-highlight {
    margin-top: 30px;
    margin-bottom: 30px;
}
a:hover{
    color: #1a0dab;
    text-decoration: none;
}
.img-rounded
{
    display: inline-block;
    position: relative;
    width: 35px !important;
    height: 35px !important;
    overflow: hidden;
    border-radius: 50%;
    float: right !important;
    margin-top: -35px;
    cursor: pointer;
    margin-left: 1100px;
}


@font-face
{
    font-family: Zado;
    src: url("../fonts/Zado.ttf");
}
body
{
    background-color: #fff;
    color: #fff;
    width: 100%;
}
.container-light
{
    padding: 50px;
}

.box
{
    background: #fff;
    color: #e1e1e1;
    /*border: 1px solid #4b515d;
    //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    border-radius: 3px;
    margin-top: -130px;
}
.box-header
{
    text-align: center;

    /*margin-left: 370px;*/
    color: #e1e1e1;
    margin-top: 100px;
}
.box-header .logo-image
{
    height: 150px;
    width: 400px;
}
.box-header .header-light
{
    font-size: 40px;
    font-family: Zado;
}
.box-search
{
    text-align:center;
    margin-top: 40px;

}
.box-search .lut-search
{
    width: 700px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    font-family: arial,sans-serif;
    outline: none;
    color: black;
    font-size: 16px;
    background-image: url(../img/search.png);
    background-position: 660px center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    margin: 40px 20px 20px 80px;

}
.public{
    border-radius: 5px;
    border: 3px solid gray;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    font-family: arial,sans-serif;
    outline: none;
    color: black;
    font-size: 16px;
    background-color: white;
    background-position: 660px center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    width: 40px;
    margin-left:881px;
    margin-top: -55px;
    height: 48px;

}
.private{
    border-radius: 5px;
    border: 3px solid gray;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    font-family: arial,sans-serif;
    outline: none;
    color: black;
    font-size: 24px;
    background-color: white;
    background-position: 660px center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    width: 38px;
    margin-left:919px;
    margin-top: -48px;
    height: 48px;

}
.material-icons
{
    margin-top:10px;
    margin-left:5px;
    color:#1565c0;
}
.material-icons2
{
    margin-top:10px;
    margin-left:9px;
    color:gray;

}

.box-search ::-webkit-input-placeholder
{

    color: darkgrey;
    font-family: arial,sans-serif;
    font-size: 16px;
}
.lut-search:hover
{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

/*.box-search : input-placeholder
{
    font-family: arial,sans-serif;
}*/

.title-color1
{
    color:  rgb(255, 111, 0);;
}
.title-color2
{
    color: #000;
}

.box-submit
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;

}
.box-submit .public-search
{
    font-size: 17px;
    border-radius: none;
    padding-top: 05px;
    padding-bottom: 05px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: rgb(0,195,255);
    color: white;
    outline: none;
    margin-left: -130px;
    position: absolute;
}
.public-search:hover
{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid skyblue;
}
.box-submit .private-search
{
    font-size: 17px;
    border-radius: none;
    padding-top: 05px;
    padding-bottom: 05px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color: lightgrey;
    color: white;
    margin-left: 10px;
    outline: none;
    position: absolute;

}
.private-search:hover
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid skyblue;
}
.search-content
{

    background-color: white;
    color: black;

    padding: 50px 50px 50px 100px;
    width: 100%;

}
.search-content-title
{
    color: #609;
    font-size: 28px!important;
    font-weight: normal;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.search-content-title a
{
    color: #609;

}
.search-content-desc
{
    width:800px;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.search-box
{
    background-color: #f2f2f2;
    height: 150px;
    border-bottom: 1px solid #ddd;
    width: 100%;

}
.search-box .box-search
{
    text-align: left;
    /*  padding-left:10px;
    //padding-top: 30px;*/
    padding: 30px 0px 0px 10px;
    margin: 0;
}
.search-box .search-box-logo
{
    height: 60px;
    width: 180px;
    margin-top:-30px;
    margin-left:80px;
    position: absolute;
}
.search-box .search-box-head1
{
    font-family: Zado;
    font-size: 20px;
    color: rgb(255,111,0);

}
.search-box .search-box-head2
{
    font-family: Zado;
    font-size: 20px;
    color: black;
}
.search-result
{
    font-size: 25px;
    color: #1a0dab;
    font-family: arial,sans-serif;
    margin-top: 0px;
}
.download-ext-link
{
    margin-top: 10px;
    color: green;
    text-align: center;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
.download-ext-link a
{
    color:#1a0dab;
    text-decoration: none;

}
.downloaded-ext-link a:hover
{
    color: #1a0dab;
    text-decoration: none;
}
.downloaded-ext-link a:focus
{
    outline: none;
}
/*.dropbtn {
    background-color: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}*/

.dropbtn:hover, .dropbtn:focus {
    background-color: none;
}

.dropdown {
    position: absolute !important;
    margin-top: 50px !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 270px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 870px;
    margin-top: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: sans-serif;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.profile-name
{
    margin-left: 60px;
    margin-top: -50px;
    color: black;
}
.dropdown-content .email
{
    margin-left: 60px;
    color: #666;
    font-weight: 200 !important;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: -10px;
}
.logout
{
    border-top: 1px solid #666;
    background-color: #ddd;

}
.logout button
{
    font-size: 14px;
    background-color: #fff !important;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    text-align: center;
    padding: 05px 10px 05px 10px;
    font-weight: 400;
}
.logout button:hover
{
    box-shadow: 0 2px 05px rgba(0,0,0,.1);
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
.grid-border {
    border-top: 1px solid #ddd;
    margin: 10px;
}
#hidden
{
    visibility: hidden;
}
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
.btn
{
    background-color: #3F729B;

    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height:45px;
    width: 80px;
    font-size: 15px;
    border-radius: 0%;
}
.chrome-icon
{
    color: green;
}
.img-chrome
{
    width:20px;
}

@media(max-width: 1200px) {
    .lut-search {
        width: 700px !important;
        margin-top: 50px !important;
        margin-bottom: 30px !important;
    }
    .search-box {
        height: 220px !important;
    }
    .btn-primary {
        margin-left: 30px !important;
    }
    .search-content {
        margin-left: -100px !important;
        position: absolute !important;
        width: 700px !important;
    }
    .btn-download {
        display: block !important;
        float: left !important;
        margin-left: 800px !important;
        margin-bottom: 20px !important;

    }
    .latest {
        width: 850px !important;
        margin-bottom: 50px !important;
        position: absolute;
        margin-top: 60px;
    }
    .search-content-title {
        width: 850px !important;
        margin-bottom: 20px !important;
        margin-top: 110px !important;
        line-height: 30px !important;

    }
    .search-content-desc {
        width: 850px !important;
        margin-bottom: 20px !important;

    }
    .highlightuser {
        width: 350px !important;
        margin-bottom: -30px !important;
    }
}
@media (max-width: 1100px) {
    .lut-search {
        width: 550px !important;
        margin-top: 70px !important;
        margin-bottom: 30px !important;
    }
    .chrm-download {
        margin-top: 30px !important;
        margin-left: 40px !important;
    }
    .search-box-logo {
        margin-left: 40px !important;
        margin-top: -20px !important;
    }
    .search-box {
        height: 240px !important;

    }
    .lut-search {
        margin-left: 40px !important;

    }
    .btn-primary {
        margin-left: 35px !important;
        width: 100px !important;

    }
    .search-content {
        margin-left: 0px !important;
        position: absolute !important;
        width: 500px !important;
    }
    .btn-download {
        display: block !important;
        float: left !important;
        margin-left: -05px !important;
        margin-bottom: 20px !important;

    }
    .search-content {
        margin-left: -40px!important;
    }
    .latest {
        width: 850px !important;
        margin-bottom: 50px !important;
        position: absolute;
        margin-top: -20px;
    }
    .search-content-title {
        width: 850px !important;
        margin-bottom: 20px !important;
        margin-top: 80px !important;
        line-height: 30px !important;

    }
    .search-content-desc {
        width: 850px !important;
        margin-bottom: 20px !important;

    }
    .highlightuser {
        width: 850px !important;
        margin-bottom: -20px !important;
    }
}
@media (max-width: 900px) {
    .lut-search {
        width: 500px !important;
        margin-top: 50px !important;
        margin-bottom: 30px !important;
    }
    .chrm-download {
        margin-top: 30px !important;
        margin-left: 40px !important;
    }
    .search-box-logo {
        margin-left: 30px !important;
        margin-top: -20px !important;
    }
    .search-box {
        height: 240px !important;

    }
    .lut-search {
        margin-left: 30px !important;
    }
    .btn-primary {
        margin-left: 35px !important;
        width: 200px !important;

    }
    .search-content {
        margin-left: 0px !important;
        position: absolute !important;
        width: 500px !important;
    }
    .btn-download {
        display: block !important;
        float: left !important;
        margin-left: -05px !important;
        margin-bottom: 20px !important;

    }
    .search-content {
        margin-left: -50px!important;
    }
    .latest {
        width: 750px !important;
        margin-bottom: 50px !important;
        position: absolute;
        margin-top: -20px;
    }
    .search-content-title {
        width: 750px !important;
        margin-bottom: 20px !important;
        margin-top: 80px !important;
        line-height: 30px !important;

    }
    .search-content-desc {
        width: 750px !important;
        margin-bottom: 20px !important;

    }
    .highlightuser {
        width: 700px !important;
        margin-bottom: -20px !important;
    }
}
@media (max-width: 768px) {
    .lut-search {
        width: 350px !important;
        margin-top: 50px !important;
        margin-bottom: 30px !important;
    }
    .chrm-download {
        margin-top: -05px !important;
        margin-left: 30px !important;
    }
    .search-box-logo {
        margin-left: 20px !important;
        margin-top: -20px !important;
    }
    .search-box {
        height: 250px !important;

    }
    .lut-search {
        margin-left: 20px !important;
    }
    .btn-primary {
        margin-left: 20px !important;
        width: 150px !important;
    }
    .search-content {
        margin-left: 0px !important;
        position: absolute !important;
        width: 500px !important;
    }
    .btn-download {
        display: block !important;
        float: left !important;
        margin-left: -05px !important;
        margin-bottom: 20px !important;

    }
    .search-content {
        margin-left: -60px!important;
    }
    .latest {
        width: 550px !important;
        margin-bottom: 50px !important;
        position: absolute;
        margin-top: -20px;
    }
    .search-content-title {
        width: 550px !important;
        margin-bottom: 20px !important;
        margin-top: 80px !important;
        line-height: 30px !important;

    }
    .search-content-desc {
        width: 550px !important;
        margin-bottom: 20px !important;

    }
    .highlightuser {
        width: 550px !important;
        margin-bottom: -20px !important;
    }
}
@media (max-width: 448px) {
    .lut-search {
        width: 320px !important;
        margin-top: 10px !important;
        margin-bottom: 40px !important;
    }
    .chrm-download {
        margin-top: -05px !important;
        margin-left: 30px !important;
    }
    .search-box-logo {
        margin-left: 10px !important;
        margin-top: -20px !important;
    }
    .search-box {
        height: 350px !important;

    }
    .lut-search {
        margin-left: 10px !important;
    }
    .btn-primary {
        margin-left: 20px !important;
        width: 150px !important;
    }
    .search-content {
        margin-left: 0px !important;
        position: absolute !important;
        width: 400px !important;
    }
    .btn-download {
        display: block !important;
        float: left !important;
        margin-left: -05px !important;
        margin-bottom: 20px !important;

    }
    .search-content {
        margin-left: -70px!important;
    }
    .latest {
        width: 300px !important;
        margin-bottom: 50px !important;
        position: absolute;
        margin-top: -20px;
    }
    .search-content-title {
        width: 300px !important;
        margin-bottom: 20px !important;
        margin-top: 80px !important;
        line-height: 30px !important;

    }
    .search-content-desc {
        width: 350px !important;
        margin-bottom: 20px !important;

    }
    .highlightuser {
        width: 300px !important;
        margin-bottom: -20px !important;
    }
}
.chrm-download {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 20px;
    margin-top: -25px;
}
.btn-primary {
    margin-left: 10px;
}