@font-face
{
    font-family: acherus-light;
    src: url("../fonts/acherus-light.otf");
}
@font-face
{
    font-family: Raleway-Medium;
    src: url("../fonts/Raleway-Medium.ttf");
}
@font-face
{
    font-family: Raleway-Light;
    src: url("../fonts/Raleway-Light.ttf");
}
@font-face
{
    font-family: Century;
    src: url("../fonts/Century.otf");
}
body {
    margin: 0;
    padding: 0;
    border-top: 4px solid #4b515d;
    border-bottom: 4px solid #4b515d;
    background-color: #f3f3f3 !important;
}
.page-container {
    margin: 0px 50px 50px 50px;
}
.signin-box {
    border: 1px solid #dedede;
    background-color: white;
    padding: 28px;
    width: 350px;
    border-radius: 2px;
}
.image-login {
    height: 100px;
    width: 100px;
    margin: 15px 30px 05px 120px;
}
.login-text {
    font-size: 37px;
    font-family: acherus-light;
    color: #666;
    margin: 0px 10px 05px 110px;
}
.image-signup {
    height: 100px;
    width: 100px;
    margin: 15px 30px 10px 120px;
}
.signup-text {
    font-size: 37px;
    font-family: acherus-light;
    color: #666;
    margin: 0px 10px 15px 100px;
}
.login-details {
    padding: 10px;
    margin-top: 20px;
}
.login-details input {
    width: 270px;
    height:40px;
    padding:15px;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-family: acherus-light;
    font-size: 15px;

}
.login-details input:focus {
    outline: none;
    border-color:#0d47a1;
    color: #0d47a1 !important;
}
.login-details input:focus::-webkit-input-placeholder {
    color: #0d47a1 !important;
    font-size: 16px;
    font-family: acherus-light;
}
.login-btn {
    border: 1px solid #ddd;
    text-align: center;
    font-family: acherus-light;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #666;
    color: white;
    margin-top: 15px;
    font-size: 16px;
    font-family: acherus-light;
}
.login-status {
    width: 300px;
    margin: 07px 15px 0px 15px;
    text-align: center;
}
.status-text {
    font-size: 13px;
    color: #666;
}
.status-text-logon {
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
}
.status-link {
    font-size: 16px;
    margin-top: 20px;
    line-height: 26px;
}
.status-link-logon {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 26px;
}
.status-link:hover {
    text-decoration: none;
}
.login-button {
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #fff;
    color: #6a6a6a;
    font-size: 16px;
    font-family: gotham, helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 270px;
}
.login-button:hover {
    background-color: #ddd;
}
.login-image-user {
    height: 20px;
    width: 20px;
    margin: 10px 50px 10px 10px;
}
.login-google-btn {
    margin: 10px;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:12px;

}
h2 span {
    background: transparent;
    margin: 0 08px 0 08px;
    font-size: 16px;
    color: grey;
    font-weight: 500;
}
h2:before,
h2:after {
    background: #ddd;
    height: 1px;
    flex: 1;
    content: '';
}